<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href = "/media/style.css">
    <title>{% block title %}Tworzenie bohatera{% endblock %}</title>
    {% block script %}{% endblock %}
</head>

<body>
	<table class="hero_creator">
	<tr>
		<td class="hero_creator_left side">{% block left %}{% endblock %}</td>
		<td class="hero_creator_center">
			<p>{% block main %}{% endblock %}</p>
			<p class="hero_creator_navigation">{% block nawigation %}{% endblock %}</p>
		</td>
		<td class="hero_creator_right">{% block right %}{% endblock %}</td>
	</tr>
	<table>
{% block hidden %}{% endblock %}
</body>
</html>