<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href = "/media/style.css">
    <title>{% block title %}Tworzenie bohatera{% endblock %}</title>
    {% block script %}{% endblock %}
</head>

<body>
		<div id="div_left">
			{% block left %}x{% endblock %}
		</div>
		<div id="div_center">
			<p>
				{% block main %}{% endblock %}
			</p>
			<p class="hero_creator_navigation">
				{% block nawigation %}{% endblock %}
			</p>
		</div>
		<div id="div_right">
			{% block right %}{% endblock %}
		</div>

{% block hidden %}{% endblock %}
</body>
</html>