<!DOCTYPE html>
<html>
	<head>
		<title>Tworzenie bohater - wybór linii krwii</title>
		<link rel = "stylesheet" type = "text/css" href = "/media/style.css">
	</head>
	<body>
		{% if profession_list %}
		<form action="" method="post">
			<ul>
				{% for profession in profession_list %}
				<li>
					<input type="radio" name="profession" value="{{ profession.id }}">
					{{ profession.name }}
				</li>
				{% endfor %}
			</ul>
			<a href="{% url hero_creator.views.blood_line %}"><input type="button" value="Cofnij"/></a>
			<input type="submit" value="Dalej"/>
		</form>
		{% else %}
		<p>5
			Nie istnieje ani jedna profesja w bazie danych.
		</p>
		{% endif %}
	</body>
</html>