{% extends "hero_creator\base.html" %}

{% block left %}
obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek
obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek  
obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek
{% endblock %}

{% block main %}
opis fabularny opis fabularny opis fabularny opis fabularny opis fabularny
opis fabularny opis fabularny opis fabularny opis fabularny opis fabularny
opis fabularny opis fabularny opis fabularny opis fabularny opis fabularny
{% endblock %}

{% block nawigation %}
<a href="/hero_creator/blood_line/"><button>Dalej</button></a>
{% endblock %}

{% block right %}
obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek
obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek  
obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek obrazek
{% endblock %}