<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel = "stylesheet" type = "text/css" href = "/media/style.css">
</head>
<body>
<dl class="message-headers">
    <dt>Nadawca</dt>
    <dd><strong>{{ message.subject }}</strong></dd>
    <dt>Temat</dt>
    <dd>{{ message.author }}</dd>
    <dt>Data </dt>
    <dd>{{ message.date_sent|date:_("DATETIME_FORMAT")}}</dd>
    <dt>Odbiorca</dt>
    <dd>{{ message.receiver }}</dd>
    <dt>Treść</dt>
    <dd>{{ message.text|linebreaksbr }}</dd>
</dl>
<br /><br />

{#{% ifequal message.recipient.pk user.pk %}#}
{#    <a href="{% url messages_reply message.id %}">Odpowiedz</a>#}
{#{% endifequal %}#}
{#<a href="{% url messages_delete message.id %}">Skasuj</a>#}
</body>
</html>